.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainfont {
  color:hotpink;
}

.smallfont {
  color: white;
}

.bg {
  background: url("./includes/6.jpeg") no-repeat center center fixed;
  height: 722px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  /* The image used */
  /*
  background-image: url("./includes/3.jpg");

  
  height: 100%;

    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  */
}
.section {background-color:lavender}