.bg4 {
    background: url("./includes/4.jpg") no-repeat center center fixed;
    height: 350px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.smallfont {
    color: black;
  }